<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashactyl (SPICA Theme) - Acktar#6724</title>
  <!-- base:css -->
  <link rel="stylesheet" href="./assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="./assets/vendors/css/vendor.bundle.base.css">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="./assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="./assets/images/favicon.png" />
  <script>
  function refreshTime() { // cuz why not
    const timeDisplay = document.getElementById("time");
    const dateString = new Date().toLocaleString();
    const formattedString = dateString.replace(", ", " - ");
    timeDisplay.textContent = formattedString;
  }
  setInterval(refreshTime, 1000);
  </script>
  <!-- arc.io-->
  <script async src="https://arc.io/widget.min.js#<% settings.afk.arc_id %>"></script>
</head>
<body onload="refreshTime()">
  <div class="container-scroller d-flex">
    <div class="row p-0 m-0 proBanner" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
          <div class="ps-lg-1">
           
          </div>
        </div>
      </div>
    </div>
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>SPICA Theme - Acktar#6724</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="mdi mdi-cube menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deploy">
            <i class="mdi mdi-airplay menu-icon"></i>
            <span class="menu-title">Deploy Server</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="mdi mdi-account-box menu-icon"></i>
            <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-default">Login Credentials</span>
          </a>
        </li>
        <hr class="text-white">
        <li class="nav-item">
          <a class="nav-link" href="/afk">
            <i class="mdi mdi-console menu-icon"></i>
            <span class="menu-title">AFK Portal</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="mdi mdi-credit-card menu-icon"></i>
            <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-redeem">Redeem Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store">
            <i class="mdi mdi-emoticon menu-icon"></i>
            <span class="menu-title">Resources Shop</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:./partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="/dashboard"><img src="./assets/images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="./assets/images/logo-mini.svg" alt="logo"/></a>
          </div>
          <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, <%= data.userinfo.username %></h4>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
              <h4 class="mb-0 font-weight-bold d-none d-xl-block"><span id="time"> </span></h4>
            </li>
           
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                <img src="<%= ('https://cdn.discordapp.com/avatars/'+ data.userinfo.id +'/'+ data.userinfo.avatar +'.jpeg') %>" alt="profile"/>
                <span class="nav-profile-name"><%= data.userinfo.username %>#<%= data.userinfo.discriminator %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/accounts/logout">
                  <i class="mdi mdi-logout text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
              <!-- Modal Content -->
  <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Your Panel Credentials</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p><b>Username:</b> <%= data.panelinfo.username %></p>
              <p><b>Email:</b> <%= data.panelinfo.email %></p>
              <p><b>Control Panel:</b> <a href="<%= settings.pterodactyl.domain %>">Click me</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light btn-fw" data-bs-dismiss="modal">Close</button>
              <form action="/accounts/regenerate_password" method="POST">
                <input type="submit" class="btn btn-primary btn-fw" value="Regenerate Password">
              </form>
          </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->

<!-- Modal Content -->
<div class="modal fade" id="modal-redeem" tabindex="-1" role="dialog" aria-labelledby="modal-redeem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="h6 modal-title">Redeem a Coupon</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/earn/redeem_coupon" method="POST">
          <div class="modal-body">
             <!-- Form -->
             <div class="mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" id="code" name="code" placeholder="Enter your Coupon Code here" aria-label="Enter your Coupon Code here">
                  <span class="input-group-text" id="basic-addon2">
                    <i class="mdi mdi-gift"></i>
                  </span>
              </div>
          </div>
          <!-- End of Form -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light btn-fw" data-bs-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary btn-fw" value="Redeem Code">
            </form>
          </div>
      </div>
  </div>
</div>
<!-- End of Modal Content -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
           <!-- row end -->
           <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card bg-facebook d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-cloud text-white icon-lg"></i>
                    <div class="ms-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">Memory</h5>
                      <p class="mt-2 text-white card-text"><%= current.memory %> / <%= total.memory %>MB</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card bg-facebook d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-folder text-white icon-lg"></i>
                    <div class="ms-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">Disk</h5>
                      <p class="mt-2 text-white card-text"><%= current.disk %> / <%= total.disk %>MB</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card bg-facebook d-flex align-items-center">
                <div class="card-body py-5">
                  <div
                    class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
                    <i class="mdi mdi-airplay text-white icon-lg"></i>
                    <div class="ms-3 ml-md-0 ml-xl-3">
                      <h5 class="text-white font-weight-bold">Package</h5>
                      <p class="mt-2 text-white card-text"><%= package.display %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row">
            <% if (variables) { %>
              <% if (variables.error && status_replies.error[variables.error]) { %>
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading">Oops!</h4>
                  <p><%- eval(`\`${status_replies.error[variables.error]}\``) %></p>
                  </div>
               <% } else if (variables.success && status_replies.success[variables.success]) { %>
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">Well done!</h4>
                  <p><%- eval(`\`${status_replies.success[variables.success]}\``) %></p>
                  </div>
                  <% } else { %>
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Well done!</h4>
                      <p><%= JSON.stringify(variables) %></p>
                      </div>
              <% } %>
          <% } %>
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h3><center><b>Purchase additional Resources</b></center></h3>
                <hr>
                    <form class="forms-sample" action="/store/buy_resources" id="buyresources" method="POST">
                    <div class="form-group">
                      <label for="memory">Memory: (<%= (settings.store.memory.per/1024) %>GB costs <%= settings.store.memory.cost %> coins)</label>
                      <select class="form-control" name="memory" id="memory">
                        <option selected value="">None</option>
                        <option value="1024">1 Gb</option>
                        <option value="2048">2 Gb</option>
                        <option value="3072">3 Gb</option>
                        <option value="4096">4 Gb</option>
                        <option value="5120">5 Gb</option>
                        <option value="6144">6 Gb</option>
                        <option value="7168">7 Gb</option>
                        <option value="8192">8 Gb</option>
                        <option value="9216">9 Gb</option>
                        <option value="10240">10 Gb</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="disk">Disk: (<%= (settings.store.disk.per/1024) %>GB costs <%= settings.store.disk.cost %> coins)</label>
                      <select class="form-control" name="disk" id="disk">
                        <option selected value="">None</option>
                        <option value="1024">1 Gb</option>
                        <option value="2048">2 Gb</option>
                        <option value="3072">3 Gb</option>
                        <option value="4096">4 Gb</option>
                        <option value="5120">5 Gb</option>
                        <option value="6144">6 Gb</option>
                        <option value="7168">7 Gb</option>
                        <option value="8192">8 Gb</option>
                        <option value="9216">9 Gb</option>
                        <option value="10240">10 Gb</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="cpu">CPU: (<%= settings.store.cpu.per %>% costs <%= settings.store.cpu.cost %> coins)</label>
                      <select class="form-control" name="cpu" id="cpu">
                        <option selected value="">None</option>
                        <option value="10">10 %</option>
                        <option value="20">20 %</option>
                        <option value="30">30 %</option>
                        <option value="40">40 %</option>
                        <option value="50">50 %</option>
                        <option value="60">60 %</option>
                        <option value="70">70 %</option>
                        <option value="80">80 %</option>
                        <option value="90">90 %</option>
                        <option value="100">100 %</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="servers">Servers: (<%= settings.store.servers.per %> server costs <%= settings.store.servers.cost %> coins)</label>
                      <select class="form-control" name="servers" id="servers">
                        <option selected value="">None</option>
                        <option value="1">1 server</option>
                        <option value="2">2 servers</option>
                        <option value="3">3 servers</option>
                        <option value="4">4 servers</option>
                        <option value="5">5 servers</option>
                        <option value="6">6 servers</option>
                        <option value="7">7 servers</option>
                        <option value="8">8 servers</option>
                        <option value="9">9 servers</option>
                        <option value="10">10 servers</option>
                      </select>
                    </div>
                    <input type="submit" class="btn btn-primary me-2" value="Continue">
                     </form>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
        <!-- partial:./partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright 2022 © <a href="https://discord.gg/McFr2jwNSE" target="_blank">ACKTAR??? </a></span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Join my frickin <a href="https://discord.gg/McFr2jwNSE" target="_blank"> Discord Server </a></span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="./assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="./assets/vendors/chart.js/Chart.min.js"></script>
  <script src="./assets/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="./assets/js/off-canvas.js"></script>
  <script src="./assets/js/hoverable-collapse.js"></script>
  <script src="./assets/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
    <script src="./assets/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="./assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>